@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{padding:0px; margin:0px;}

/********************************************Common css********************************************/

html {  scroll-behavior: smooth; }

body {font-family: "Rubik", sans-serif; background-color: #E6E6F1;  font-size: 16px; font-weight: 400; line-height:1.2;}
a{text-decoration:none;}
ul li {list-style:none;}

/* .container{ max-width: 1540px; } */

.fleft{float: left;}
.fright{float: right;}
.clearfix{clear: both;}
img {max-width:100%;}

.item-shadow{box-shadow: 0px 0px 20px  #0006;}

.tb-pad{ padding: 10px 0; }

h1,h2,h3,h4,h5,h6{font-weight : 500;}
h1{font-size: 48px; }
h2{font-size: 30px;  }
h3{font-size:29px;}
h4{font-size: 20px;}
h5{font-size: 16px;}
h6{font-size: 14px;}

/********************************************Color Theme css********************************************/
.bg-purple {background:#28287C;}
.text-purple {color:#28287C;}

.bg-white {background:#fff;}
.text-white {color:#fff;}

.bg-black {background:#222222;}
.text-black {color:#222222;}

/* b3b3cc */
.text-gray{ color: #AFB3C0; }
.bg-gray{ background-color: #E3E3FC; }

.bg-wheat{background-color: #F8F9FD;}

/********************************************Outer css********************************************/

#outer-bg{position: relative; }
#outer-bg .blob {  width: 500px;  height: 500px;  top: -20%;  left: -15%;  z-index: -1;  background: linear-gradient(180deg, #9790B9, #9790B9 100%);  animation: move 2s infinite alternate;  transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1); border-radius: 50%;}
#outer-bg .blob2 {  width: 248px;  height: 170px;  right: 0%;  bottom: 0%;  z-index: -1;  background: linear-gradient(150deg, #E29FC3, #E29FC3 100%);  animation: move 5s infinite alternate;  transition: 2s cubic-bezier(0.07, 0.8, 0.16, 1);  border-radius: 50%; }

.dots-pattern { height: 250px;   width: 150px; z-index: -1; right: 20px; top: 20%;}

.dots-pattern::before {  content: '';  position: absolute;  width: 100%;  height: 100%;  background: radial-gradient(circle, #cfcfcf 25%, transparent 26%);
  background-size: 35px 35px;   background-position: center;}


@keyframes move {  from {    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;  }
  to {   border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;    }
}


/********************************************Admin css********************************************/

.admin-panel{ padding:70px 100px 0 100px; }

/********************************************Header css********************************************/

#header .right-header .badge{ top: -10px; left:10px; padding:5px 8px 5px 8px; font-size: 10px; }


/********************************************SideBar css********************************************/


#main .nav-bar-left{  overflow: auto;  }
#main .nav-bar-left ul li a{ margin-bottom: -7px;  }

#sidebar .btn-toggle{ left: 70%; top: 2%;  }

/********************************************Main css********************************************/

#main #main-right-container{ overflow: auto; }

::-webkit-scrollbar {  width: 0%; }

.box-card:hover{ transform: scale(1.1); transition: all ease 0.5s;  }

/********************************************Graphs css********************************************/

#graphs .cards-container .graph-1 #orderGraph{ max-width: 460px; max-height: 170px; }
#graphs .cards-container .graph-2 #orderBarChart{min-height: 245px; max-width: 460px; }





